HTML{
    font-style: Georgia;
    color: white;
}

header{
background-color: #824555;
text-align: center;
padding: 20px;
}

footer{
background-color: #824555;
text-align: center;
padding: 20px;
}

#lewy{
width: 30%;
height: 350px;
background-color:#A26475 ;
float: left;

}

#środkowy{
    width: 30%;
height: 350px;
background-color:#824555 ;
float: left;

}

#prawy{
background-color:#A26470 ;
width: 40%;
height: 350px;
float: left;
}

img{
    float: left;
    width: 50px;
}

 table,p,dl{
margin: 10px;
 }

 dl{
    padding-top: 20px;
 }

 th,td{
border: 3px solid #824555;
padding: 5px;
 }